.my-reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
    padding: 10px 20px;
}

.home-header {
    flex-grow: 1;
    text-align: left;
    font-size: 1.5rem;
    color: rgb(75, 20, 54);
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.reviews-title-wrapper {
    background-color: rgba(175, 36, 126, 0.889);
    width: 100%;
    padding: 5px 0;
}

.reviews-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
}
