.my-reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, serif;
    padding: 10px 20px;
}

.home-header {
    flex-grow: 1;
    text-align: left;
    font-size: 1.5rem;
    color: rgb(75, 20, 54);
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.reviews-title-wrapper {
    background-color: rgba(175, 36, 126, 0.933);
    width: 100%;
    padding: 5px 0;
}

.reviews-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    font-family: Georgia, serif;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.edit-button, .delete-button {
    padding: 8px 16px;
    font-size: 1rem;
    font-family: Georgia, serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button {
    background-color: rgb(50, 150, 255); /* Blue for edit */
    color: white;
    font-family: Georgia, serif;
}

.edit-button:hover {
    background-color: rgb(29, 112, 207);
}

.delete-button {
    background-color: rgb(255, 50, 50); /* Red for delete */
    color: white;
    font-family: Georgia, serif;
}

.delete-button:hover {
    background-color: rgb(209, 29, 29);
}
