.view-page-wrapper {
    margin-top: 20px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.view-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 0;
}

.view-content {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.view-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.view-book-image {
    width: 70%;
    max-width: 200px; 

}

.view-form-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.view-left-section {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.view-right-section {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.view-form-section p {
    margin: 0;
    padding: 10px 0;
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
    font-size: 1.2rem;
    color: #333;
}

.view-form-section button {
    margin-top: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .view-page-container {
        flex-direction: column;
        width: 90%;
    }

    .view-form-section {
        width: 100%;
    }
}

.view-voting-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
    text-align: center;
}

.upvote {
    color:rgb(0, 255, 0);
}

.downvote {
    color:rgb(255, 0, 0);
}

.view-upvote-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #8b1eb6;
    border-radius: 5px;
    background-color: #aac5a0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-upvote-button:hover {
    border-color: #888;
    background-color: #4bcc87;
    color: #000;
}

.view-downvote-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #8b1eb6;
    border-radius: 5px;
    background-color: #dba9e4;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-downvote-button:hover {
    border-color: #888;
    background-color: #da93e7;
    color: #000;
}
